<%= form_for :ticket, url: ticket_path(@ticket), method: :patch do |f| %>
  
  <% if @ticket.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @ticket.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <strong>Current Name:</strong>
    <%= @ticket.name %>
  </p>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
 
<%= link_to 'Back', tickets_path %>