<%= link_to 'Enter Tickets', new_ticket_path %>
<h1>Listing tickets</h1>
 
<table>
  <tr>
    <th>name</th>
  </tr>
 
  <% @tickets.each do |ticket| %>
    <tr>
      <td><%= ticket.id %></td>
      <td><%= ticket.name %></td>
      <td><%= link_to 'Show', ticket %></td>
      <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
    </tr>
  <% end %>
</table>
