<h1> new raffle ticket </h1>

<% if @ticket.errors.any? %>
	<div id="error_explanation">
		<ul>
			<% @ticket.errors.full_messages.each do |msg| %>
  				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= form_for :ticket, url: tickets_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Home', tickets_path %>